# Supabase Project Configuration
NEXT_SUPABASE_URL=https://viahyjyqaoekktvcvzne.supabase.co
NEXT_SUPABASE_ANON_KEY=sb_publishable_F_dYbc95q79eVS0_GmBUsQ_yyG2cfoy
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpYWh5anlxYW9la2t0dmN2em5lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzI0ODM1MCwiZXhwIjoyMDg4ODI0MzUwfQ.mn5dakj6jm77KUFlqtNPwWKtcB-m14Xf528vdqryHjY
